.main {
  display: flex;
  margin-top: 2rem;
}

.filter {
  width: 15%;
  margin-left: 1rem;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  width: 85%;
}

@media screen and (min-width: 768px) {
  .product_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
